  version: '3.8'

  services:
    postgres:
      image: postgres:15
      container_name: keycloak-postgres
      environment:
        POSTGRES_DB: keycloak
        POSTGRES_USER: keycloak
        POSTGRES_PASSWORD: password
      ports:
        - "5432:5432"
      volumes:
        - postgres-data:/var/lib/postgresql/data
      networks:
        - keycloak-network

    keycloak:
      image: quay.io/keycloak/keycloak:23.0
      container_name: keycloak-dev
      environment:
        KC_DB: postgres
        KC_DB_URL: jdbc:postgresql://postgres:5432/keycloak
        KC_DB_USERNAME: keycloak
        KC_DB_PASSWORD: password
        KEYCLOAK_ADMIN: admin
        KEYCLOAK_ADMIN_PASSWORD: admin
        KC_HEALTH_ENABLED: true
        KC_METRICS_ENABLED: true
      command:
        - start-dev
      ports:
        - "8080:8080"
      depends_on:
        - postgres
      volumes:
        - ./providers:/opt/keycloak/providers
      networks:
        - keycloak-network

  volumes:
    postgres-data:

  networks:
    keycloak-network:
      driver: bridge